@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Vehicle Project Welcome</h1>
    <p>Projede araçlar ile alakalı olarak CRUD işlemleri yapılmaktadır.</p>
</div>
